<div class="main">
    <div class="nav">
      <nav>
        <ul>
          <li><a href="overview">
            <i class="fas fa-home"></i>
            <span class="nav-item">Übersicht</span>
          </a></li>
          <li><a href="">
            <i class="fas fa-chart-bar"></i>
            <span class="nav-item">Analytics</span>
          </a></li>
          <li><a href="">
            <i class="fas fa-wallet"></i>
            <span class="nav-item">Kontoauszüge</span>
          </a></li>
          <li class="settings"><a href="">
            <i class="fas fa-cog"></i>
            <span class="nav-item">Einstellungen</span>
          </a></li>
        </ul>
      </nav>
    </div>
    <div class="mat-elevation-z8" *ngIf="ready()">
        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            
          </ng-container>
          <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary">Überweisungen</button></td>
            
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
</div>

<mat-list>
  <div mat-subheader>Folders</div>
  <ng-container *ngFor="let folder of folders; trackBy: trackByFunction">
    <mat-list-item>
      <mat-icon matListItemIcon>folder</mat-icon>
      <div matListItemTitle>{{ folder.name }}</div>
      <div matListItemLine>{{ folder.updated | date }}</div>
    </mat-list-item>
  </ng-container>
  <mat-divider></mat-divider>
  <div mat-subheader>Notes</div>
  <ng-container *ngFor="let note of notes; trackBy: trackByFunction">
    <mat-list-item>
      <mat-icon matListItemIcon>note</mat-icon>
      <div matListItemTitle>{{ note.name }}</div>
      <div matListItemLine>{{ note.updated | date }}</div>
    </mat-list-item>
  </ng-container>
</mat-list>
