*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
nav{
  display: flex;
  height: 100vh;
  background: #fff;
  width: 270px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  
}
a{
  position: relative;
  color: #212121;
  font-size: 15px;
  display: table;
  width: 270px;
  padding: 10px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}
.settings{
  position: absolute;
  bottom: 0;
}


@media screen and (max-width: 600px) {
  nav {
    width: 60px;

  }

  a {
    font-size: 8px;
    width: 70px;
    padding: 0;
  }

  nav .fas {
    font-size: 20px;
    text-align: center;

  }

  .nav-item {
    display: none;
    padding: 0;

  }


}
@media screen and (min-width: 600px) and (max-width: 800px) {
  nav{
    width: 230px;
  }
  a {
    width: 240px;
  }


}



