button {
  margin-top: 1%;
  margin-left: 1%;
}

.nav {
  float: left;
  display: inline;


}

.main{
  min-height: 100vh;
  
}

.tab{
  margin: 0 2%;
  position: absolute;
  left: 295px;
  top: 15%;
  width: 100%;
  max-width: 80%;
}

