<div class="container">
<app-side-bar></app-side-bar>
<div class="main-body">
   <div class="welcome-box">
     <div class="welcome-content">
      <h2>Zwischen Zahlen und Zaster: Deine Finanzen auf einen Blick.</h2>
      <p>Wähle deinen gewünschten Zeitraum!</p>
      <mat-form-field class="example-form-field">
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
       </mat-form-field>
      </div>

      <button mat-raised-button class="submit-button" color="primary"  (click)="getDataDate()">Zeitraum auswählen</button>
   </div>
   <div class="fin">
    <h3>Deine Ausgabe vom Zeitraum.</h3>
    <p style="color:red">123</p>
  </div>
  <div class="fin-1">
    <h3>Kontostand am Anfang des Zeitraums.</h3>
    <p style="color:green">123</p>
  </div>
  <div class="chart-box">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [fill]="chartOptions.fill"
        [title]="chartOptions.title"
        [responsive]="chartSettings.settings.responsiveLine"
      ></apx-chart>
    </div>
  </div>
   <div class="chart-box2">
    <div id="chart">
      <apx-chart 
        [series]="chartData.series"
        [title]="chartData.title" 
        [xaxis]="chartData.xaxis"
        [chart]="chartSettings.settings.lineChart"
        [stroke]="chartSettings.settings.lineStroke"
        [grid]="chartSettings.settings.lineChartGrid"
        [responsive]="chartSettings.settings.responsiveLine">
        
      </apx-chart>
    </div>
  </div>
  <div class="chart-donut">
    <div id="chartt">
      <apx-chart 
        [series]="chartData.donut_data"
        [labels]="chartData.donut_labels"
        [chart]="chartSettings.settings.chart">
      </apx-chart>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
