
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    
  }
  .container{
    display: flex;
    background-image: url(../../assets/background-main.jpg);
    background-position: center;
    background-size: 100%;
  }


  //OVERVIEW MAIN
  .main-body{
    width: 70%;
    padding: 1rem;
  }
  .welcome-box{
    width: 41%;
    height: 33%;
    position: absolute;
    color: #212121;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .welcome-content {
    font-size: 1.5rem;
  }
  .welcome-content .h1{
    font-size: 1.5rem;
  }
  .welcome-content span{
    font-size: 1.2rem;
  }
  .welcome-box h1, .welcome-box  span{
    margin: 10px;
  }
    //OVERVIEW MAIN END


    body {
      font-family: Roboto, sans-serif;
    }
    
    #chart {
      width: 100%;
      margin: 0;
      padding: 15px 30px;

    }
    #chartt {
      width: 80%;
    }
    

    .chart-box{

      position: absolute;
      height: 40%;
      width: 42%;
      top: 63%;
      display: box;
      background-color: #f8f8f8;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      padding: 25px;

    }
    .chart-box2{

      position: absolute;
      height: 40%;
      width: 42%;
      right: 15px;
      margin-left: 10px;
      top: 63%;
      display: box;
      background-color: #f8f8f8;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      padding: 25px;

    }

    .chart-donut{

      position: absolute;
      right: 15px;
      display: box;
      background-color: #f8f8f8;
      border-radius: 30px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
      width: 42%;
      top: 8%;
      margin-bottom: 5%;
    }

    .fin{

      width: 20%;
      height: 15%;
      position: absolute;
      top: 45%;
      color: #212121;
      padding: 15px;
      background: #f8f8f8;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    }

    .fin-1{

      width: 20%;
      height: 15%;
      position: absolute;
      top: 45%;
      left: 36%;
      color: #212121;
      padding: 15px;
      background: #f8f8f8;
      border-radius: 25px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);

    }


    
