.main{
  background: url('../../../assets/background-main.jpg') no-repeat center center fixed;
  height: 100%;
  background-size:100%;
  
  
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  section{
    margin-left: 10%;
    padding: 0;
    position: absolute;
    top: 10%;
  }
  .landing-main{
    display: flex;
  }
  .landing-main .max-width{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .landing-main .landing-content{
    width: 100%;
    padding: 2rem;
  }
  .landing-main h3{
    color: #000000;
    margin-top: 6rem;
    font-size: 4.5rem;
    margin-bottom: 4%;
  }
.landing-main p{

    color: #000000;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;

}
button{
    margin-top: 50px;
    border-radius: 15px;
    border: none;
    width: 15%;
    padding: 10px 10px;
    background-color: #212121;
    color: white;
    font-size: 20px;
}
button:hover{
    background-color: #302f2f;
    cursor: pointer;
}

