<footer>
 <div class="container">
  <div class="footer-center">
   <div class="">
    <h2 class="footer-head">ImproveYourFinance.de</h2>
    <p class="menu">
     <a href="#">Übersicht</a>
     <a href="#">Über uns</a>
     <a href="#">Datenschutz</a>
     <a href="#">Impressum</a>
     <a href="#">Kontakt</a>
    </p>
   </div>
  </div>
  <div class="footer-logo">
   <img src="../assets/logo.png">
  </div>
  <div class="copyright" style="color:white">
   <p class="copyright">Copyright © {{getYear()}} | ImproveYourFinance.de</p>
  </div>
 </div>
</footer>

