<div class="container">
    <app-side-bar></app-side-bar>
  <div>
    <div class="welcome-box">
      <div class="welcome-content">
        <h1>Willkommen {{username}},</h1>
        <p>Hier siehst du deinen letzten Monat als Übersicht.</p>
      </div>
    </div>
    <div class="fin">
      <h3>Kontostand am Anfang des Monats:</h3>
      <p style="color:red">{{startBalance}}</p>
    </div>
    <div class="fin-1">
      <h3>Kontostand am Ende des Monats:</h3>
      <p style="color:green">{{endBalance}}</p>
    </div>
    <div class="chart-box">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [fill]="chartOptions.fill"
          [title]="chartOptions.title"
          [responsive]="chartSettings.settings.responsiveLine"
        ></apx-chart>
      </div>
    </div>
     <div class="chart-box2">
      <div id="chart">
        <apx-chart 
          [series]="chartData.series"
          [title]="chartData.title" 
          [xaxis]="chartData.xaxis"
          [chart]="chartSettings.settings.lineChart"
          [stroke]="chartSettings.settings.lineStroke"
          [grid]="chartSettings.settings.lineChartGrid"
          [responsive]="chartSettings.settings.responsiveLine">
          
        </apx-chart>
      </div>
    </div>
    <div class="chart-donut">
      <div id="chartt">
        <apx-chart 
          [series]="chartData.donut_data"
          [labels]="chartData.donut_labels"
          [chart]="chartSettings.settings.chart">
        </apx-chart>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>